@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* General */
:root{
	--mainColor:#eef4f8;
	--white:#fff;
	--darkColor:#343434;

	--borderColor:#c1c1c1;

	--mainText:black;
	--secondaryText:#4b5156;

	--headingsFont: 'Oswald', sans-serif;
	--bodyFont:'Roboto Mono', monospace;
}

html, body{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, strong{
	color:var(--mainText);
	font-family: var(--headingsFont);
}

p, li, span, label, input, textarea{
	color:var(--mainText);
	font-family: var(--bodyFont);
}

h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

a{
	text-decoration: none;
	font-family: var(--bodyFont);
	color: #59f;
}

p {
	text-align: justify;
}

ul{
	list-style: none;
}

header, section, footer{
	overflow: auto;
}

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

.text-justify{
	text-align: justify;
}

.main-container {
	display: flex;
	flex-direction: column;
 	min-height: 100vh;
}

.main-content{
	flex:1;
}

.mainColor{
	background-color: var(--mainColor);
}

.white{
	background-color: var(--white);
}

.darkColor {
	background-color: var(--darkColor);
}

.darkColor p, .darkColor h1, .darkColor h2, .darkColor h3, .darkColor h4, .darkColor h5, .darkColor h6{
	color:#fff;
}

.white-text {
	color: var(--white);
}

.container{
	margin: 0 auto;
	width: 90%;
	padding: 10px;
}

.no-padding {
	padding: 0;
}


.flex-box .box{
	margin:0.5em;
	padding: 10px;
	flex-basis: 30%;
	text-align: justify;
}

.card .card-item{
	margin:0.5em;
	padding: 2em 1em 3em 1em !important;
	flex-basis: 30%;
	text-align: justify;
	border: solid 1px;
}

/* Intro */

header{
	background: rgb(255,255,255);
	background: -moz-linear-gradient(11deg, rgba(255,255,255,1) 0%, rgba(204,232,251,0.7) 100%);
	background: -webkit-linear-gradient(11deg, rgba(255,255,255,1) 0%, rgba(204,232,251,0.7) 100%);
	background: linear-gradient(11deg, rgba(255,255,255,1) 0%, rgba(204,232,251,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#cce8fb",GradientType=1);
	border-bottom: 2px solid var(--darkColor);
}

.greeting-wrapper{
	display: grid;
	text-align: center;
	justify-content: center;
	align-content: center;
	min-height: 30em;
}

.intro-wrapper{
	display: grid;
	background-color: var(--white);
	border: 2px solid var(--darkColor);
	border-bottom: 0;
	border-radius: 8px 8px 0 0;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3em 30em;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'intro-left intro-left'
		'intro-right intro-right'
	;
}

.intro-wrapper .nav-wrapper{
	background-color: var(--darkColor);
	grid-area: nav-wrapper;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.dots{
	display: flex;
	padding: 10px;
}

#dot-min{
	background-color: #FEC02F;
}

#dot-max{
	background-color: #2ACA3E;
}

#dot-close{
	background-color: #FC6058;
}

#navigation {
	margin: 0;
	padding: 10px;
}

#navigation li{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

#navigation a{
	color: #fff;
	font-weight: bold;
}

#navigation a:hover{
	color: #FC6058;
}

.intro-wrapper .left-column{
	grid-area: intro-left;
	padding: 2em;
	display: grid;
	text-align: center;
	align-content: center;
}

#profile-pic {
	display: block;
	margin:0 auto;
	border-radius: 8px;
	object-fit: cover;
	width: 260px;
}

.intro-wrapper .right-column{
	grid-area: intro-right;
	padding: 2em;
	display: grid;
	justify-content: center;
	align-content: center;
}

#preview {
	width: 80%;
	padding: 15px;
	position: relative;
}

.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 3px;
}


/* About */
.social-link{
	display: flex;
	justify-content: center;
}

.social-link a{
	color: var(--darkColor);
	margin:0.5em;
}



/* Contact Form */

#contact-form{
	display: block;
	margin:0 auto;
	max-width: 600px;
	padding: 0.5em;
	border-radius: 8px;
	background-color: var(--darkColor);
}

.form-item{
	padding: 0.6em;
	margin: auto auto;
}

label{
	font-family: var(--headingsFont);
	font-size: 20px;
	color: white;
}

.form-item input, .form-item textarea{
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	border-radius:5px;
	border: none;
	padding-bottom: 10px;
}

.form-item textarea{
	min-height: 180px;
}

input[type=submit]{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	border-radius: 5px;	
	border: 2px solid white;

	font-size: 20px;
	font-family: var(--headingsFont);
}

input[type=submit]:hover{
	color: white;
	background-color: var(--darkColor);
	transition: 0.2s;
}

@media(min-width: 768px){
	.container{
		display: grid;
		width: 80%;
	}
	.about-me {
		width: 60%;
		margin:0 auto;
	}

	#profile-pic{
		width: 300px;
	}

	.intro-wrapper{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 3em 30em;
		grid-template-areas: 
			'nav-wrapper nav-wrapper'
			'intro-left intro-right'
		;
	}

	.flex-box{
		display:flex;
		justify-content: space-between;
	}

	.flex-box .box{
		margin:0.2em;	
	}

	.card{
		display: flex;
		justify-content: space-between;
	}

	.card .card-item{
		margin:0.2em;
	}

	#contact-form{
		width: 600px;
	}

}

.box{
	flex-basis: 30%;
	text-align: justify;
	padding: 10px;
	border: solid 1px;
}

/*@media(min-width: 768px){
	.main .container .content{
		display:flex;
		justify-content: space-around;
	}

}*/